/* *{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} */

.container {
  background: linear-gradient(135deg, #153677, #4e085f);
  width: 100%;
  min-height: 100vh;
  padding: 10px;
}

.todo-app {
  width: 100%;
  max-width: 540px;
  background: #fff;
  margin: 100px auto 20px;
  padding: 40px 30px 70px;
  border-radius: 10px;
}

.todo-app h2 {
  color: #002765;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #edeef0;
  border-radius: 30px;
  padding-left: 20px;
  margin-bottom: 25px;
}

input {
  flex: 1;
  border: none;
  outline: none;
  background: transparent;
  padding: 10px;
}

button {
  border: none;
  outline: none;
  padding: 16px 50px;
  background: #ff5945;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  border-radius: 40px;
}

ul li {
  list-style: none;
  font-size: 17px;
  padding: 12px 8px 12px 50px;
  user-select: none;
  cursor: pointer;
  position: relative; /* Required for positioning the delete icon */
  display: flex; /* Make the li a flex container */
  align-items: center; /* Vertically center the content */
  justify-content: space-between; /* Distribute space evenly */
}

ul li > *:first-child {
  order: 1;
  margin-right: auto;
  margin-left: 5px;
}

.button-group {
  display: contents;
  gap: 5px; /* Optional: Adds a gap between the buttons */
}

ul li::before {
  content: "";
  position: absolute;
  height: 28px;
  width: 28px;
  border-radius: 50%;
  background-image: url(images/uncheck.png);
  background-size: cover;
  background-position: center;
  top: 12px;
  left: 8px;
}

ul li.checked {
  color: #555;
  text-decoration: line-through;
}

ul li.checked::before {
  background-image: url(images/image.png);
}

ul li span {
  right: 0;
  top: 5px;
  width: 40px;
  height: 40px;
  font-size: 22px;
  color: #555;
  line-height: 40px;
  text-align: center;
  border-radius: 50%;
}

ul li span:hover {
  background: #edeef0;
}

/* Style the delete icon */
.delete-icon {
  cursor: pointer;
  margin-left: auto;
}

/* Style the "Change Card" button */
.change-card-button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  cursor: pointer;
  border-radius: 5px;
}

/* Style the data card */
.data-card {
  width: 80%;
  max-width: 500px;
  background-color: #f0f0f0;
  border-radius: 8px;
  padding: 20px;
  margin: 20px auto;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.data-card h2 {
  color: #333;
  margin-bottom: 10px;
}

.data-card ul {
  list-style-type: disc;
  padding-left: 20px;
}

.data-card li {
  color: #555;
  margin-bottom: 5px;
}












